{% extends "base.html" %} {% load staticfiles %} {% block title %}
<title>密码重置完成 - 我的博客</title>
{% endblock title %} {% block link %}
<link rel="stylesheet" href="{% static 'users/style/index.css' %}"> {% endblock link %} {% block body %}
<div class="users-page">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header">
            <strong>密码重置完成</strong>
          </div>
          <div class="card-body">你的密码己经设置完成，现在你可以继续进行登录</div>
          <div class="card-footer text-center">
            <a href="{% url 'login' %}">登录</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}