{% extends "base.html" %} {% load staticfiles %} {% block title %}
<title>注册 - 我的博客</title>
{% endblock title %} {% block link %}
<link rel="stylesheet" href="{% static 'users/style/index.css' %}"> {% endblock link %} {% block body %}
<div class="users-page">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header">注册帐号</div>
          <div class="card-body">
            <form action="{% url 'users:register' %}" method="POST">
              {% csrf_token %} {% for field in form %}
              <div class="form-group">
                {{ field.label_tag }} {{ field }}
                <!-- {% if field.help_text %}
                <p class="help text-small text-muted">{{ field.help_text|safe }}</p>
                {% endif %} -->
              </div>
              {% if field.errors %}
              <div class="alert alert-danger errors-tips">
                {{ field.errors }}
              </div>
              {% endif %} {% endfor %}
              <input type="hidden" name="next" value="{{ next }}"/>
              <button type="submit" class="btn btn-primary btn-block">注册</button>
            </form>
          </div>
          <div class="card-footer text-center">
            <span>已有帐号？
              <a href="{% url 'login' %}">登陆</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}