html, body, #app {
  width: 100%;
  height: 100%;
}

#app {
  display: flex;
  background: #f6f6f6;
}

.flex-list {
  display: flex;
}

.flex-content {
  flex: 1;
  min-width: 1px;
  min-height: 1px;
}

.main-body {
  width: 100%;
  padding-top: 56px;
}
