html, body, #app {
  width: 100%;
  min-height: 100vh;
}

#app {
  display: flex;
  background: #f6f6f6;
}

.flex-list {
  display: flex;
  align-items: center;
}

.flex-item {
  flex: 0 0 auto;
}

.flex-content {
  flex: 1;
  min-width: 1px;
  min-height: 1px;
}

.main-body {
  width: 100%;
  padding-top: 56px;
}

.pt15 {
  padding-top: 15px;
}

.pb15 {
  padding-bottom: 15px;
}

.card-list {
  margin: 0 -1px -1px;
}
